body {
  background-color: #55fbfba6;
}

.container {
  text-align: center;
  margin-top: 60px;
  display: grid;
}

table {
  margin: auto;
}

button {
  width: 80px;
  height: 45px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
}
button:hover {
  background-color: white;
}

input {
  width: 100%;
  margin-bottom: 36px;
  height: 42px;
  font-size: 18px;
  border: black 2px solid;
  border-radius: 10px;
  text-align: end;
  padding: 0px 10px;
}

.calculator {
  display: inline-block;
  margin: 30px;
  border: 2px solid;
  padding: 30px;
  background: rgb(226, 182, 102);
  border-radius: 6px;
  box-shadow: 0 6px 10px 0 rgb(8, 8, 8), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-family:'Courier New', Courier, monospace; 
  /*font-family: "Work Sans", sans-serif;*/
  margin-bottom: 29px;
  text-align: center;
  font-style: bold;
  font-size: 42px;
}